# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/

# Local env files
.env
.env.local
.env.*.local

# Editor files
.vscode/
!.vscode/extensions.json
.idea/

# OS files
.DS_Store
Thumbs.db

# TypeScript / misc
*.tsbuildinfo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignore backend heavy models folder
backend/Model/4Types_Brain.keras
backend/Model/MRI_NOT_MRI.keras